ul {
    list-style-type: none;
}

.change-log-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 20px;
    margin-right: 40px;
    max-width: 800px;
    max-height: 150px;
    overflow: auto;
    scroll-behavior: smooth;
}
  
.change-log-title {
    margin-top: 0;
    color: #333;
}
  
.change-log-content pre {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.black {
    color: black;
}

.gray {
    color: gray;
}

mat-list-item {
    white-space: normal !important;
}

mat-icon {
    cursor: pointer;
}