<ul style="list-style-type: none;">
  <h3>Upload feature model...</h3>
  <li>
    <div class="file-upload">
      <button mat-raised-button [disabled]="disable" (click)="onFileInputClick()">
        <div class="file-upload-content">
          <img src="../assets/img/folder.png" alt="Icono de archivo" class="file-icon">
          <span class="file-label">Attach file</span>
        </div>
      </button>
      <input #fileInput id="fileInput" style="visibility: hidden;" type="file" accept=".uvl, .json, .xml, .sxfm" (input)="onFileSelected($event)" />
    </div>
  </li>
  <li>
    <div style="margin-left: 15px;">
      ...or select one:
      <mat-form-field style="margin: 10px;" appearance="outline" class="custom-select-field">
        <mat-label>Example FMs</mat-label>
        <mat-select (selectionChange)="onExampleSelected($event)" [disabled]="disable" [(ngModel)]="selectedOption">
          <mat-option *ngFor="let fmExample of fmExamples" [value]="fmExample">{{fmExample}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </li>
  <li>
    <b><span>{{ selectedFileName }}</span></b>
  </li>
  <li>
    <button mat-stroked-button color="primary" style="min-height: 35px; margin-left: 2px;" data-bs-toggle="modal"
      href="#loading" [disabled]="(!file && !selectedOption) || disable" (click)="loadFeatures()">
      <div class="upload-content">
        <img src="../assets/img/upload.png" alt="Upload Icon" class="upload-icon">
        <span class="upload-label">Upload file</span>
      </div>
    </button>
  </li>
</ul>