.header {
    background-image: linear-gradient(to right, #012970 12%, #9fc0fd, #fff);
}

.nav-text {
    position: absolute;
    margin-right: 10px;
    left: 3vh;
    flex-basis: 20%;
    padding-right: 50px;
    font-size: 30px;
    top: 30px;
}

span {
    color: white;
}

button{
    color: white;
}

mat-icon {
    margin-right: 8px;
    color: white;
}

@media (max-width: 600px) {
    .nav-text {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .nav-text {
        justify-content: center;
    }
}

@media (max-width: 230px) {
    .disappear {
        display: none;
    }
    mat-icon {
        transform: scale(2);
    }
}

mat-sidenav {
    background-image: linear-gradient(to bottom, #012970 12%, #9fc0fd, #fff);
    font-size: 30px;
    border-right: solid black 2px;
    width: 300px;
}

button {
    font-size: 1.25rem;
    
    margin-left: 10px;
}

mat-icon {
    margin-right: 8px;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-sidenav-content {
    height: 92.21vh;
}