<div class="image-row">
    <div class="image-container">
        <a href="https://caosd.lcc.uma.es/" target="_blank">
            <img src="../../assets/img/caosd.svg" alt="CAOSD">
        </a>
    </div>
    <div class="image-container">
        <a href="https://rhea.caosd.lcc.uma.es/" target="_blank">
            <img src="../../assets/img/rhea.svg" alt="Rhea">
        </a>
    </div>
    <div class="image-container">
        <a href="https://www.uma.es/" target="_blank">
            <img src="../../assets/img/uma.svg" alt="UMA">
        </a>
    </div>
</div>