
<div class="header">
        <div>
            <button mat-button color="primary" (click)="toggle()" class="nav-text">
                    <mat-icon [ngStyle]="{'color':'white'}" *ngIf="!this.sidenav.opened">menu</mat-icon>
                    <mat-icon [ngStyle]="{'color':'white'}" *ngIf="this.sidenav.opened">navigate_before</mat-icon><span class="disappear">Rhea Web</span>
            </button>
        </div>
        <!-- ========== Header =================== -->
        <app-header></app-header>
</div>


<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <div>
            <button mat-button routerLink="/"><mat-icon>info</mat-icon><span>Guide</span></button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="fm-editor"><mat-icon>edit</mat-icon><span>FM Editor</span></button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/"><mat-icon>people</mat-icon><span>About us</span></button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>