.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.child-card {
    flex: 1 0 calc(15% - 16px);
    /* Adjust the width calculation based on the number of components */
}

.card {
    flex: 1 1 auto;
    margin: 10px;
}