<!-- ========== Upload FM ================ -->
<!--<mat-grid-list cols="12" rowHeight="100px"> -->
<mat-card>
    <mat-card-content>
        <div class="card-container">
            <mat-card class="card"><app-upload-fm class="upload" (uploading)="uploadingHandler($event)" (fm)="fmDataHandler($event)"></app-upload-fm></mat-card>
            <mat-card class="card"><app-language-download class="language" [fmName]="fmName"></app-language-download></mat-card>
            <mat-card class="card"><app-log class="log" (fm)="fmDataHandler($event)" [extUploading]="uploading" (uploading)="uploadingHandler($event)"></app-log></mat-card>
            <mat-card class="card"><app-new-features class="features" [fmData]="fmData" (fm)="fmDataHandler($event)" [extUploading]="uploading" (uploading)="uploadingHandler($event)"></app-new-features></mat-card>
            <mat-card class="card"><app-constraints class="constraints" [fmData]="fmData" (fm)="fmDataHandler($event)" [uploading]="uploading"></app-constraints></mat-card>
            <mat-card class="card"><app-interop-matrix class="interop" [fmData]="fmData" (fm)="fmDataHandler($event)" [extUploading]="uploading" (uploading)="uploadingHandler($event)"></app-interop-matrix></mat-card>
            <mat-card class="card"><app-semantics-metrics class="semantic" [fmData]="fmData" (fm)="fmDataHandler($event)" [uploading]="uploading"></app-semantics-metrics></mat-card>
        </div>
    </mat-card-content>
</mat-card>

<!-- ========== Download ================= -->
<!-- ========== Log ====================== -->
<!-- ========== Features ================= -->
<!-- ========== Constraints ============== -->
<!-- ========== Download ================= -->
<!-- ========== Interoperability matrix == -->
<!-- ========== Constraint Tree ========== -->
<!-- ========== Semantics metrics ======== -->

<!--</mat-grid-list> -->