<h2 mat-dialog-title>Edit features</h2>
<div mat-dialog-content>
    <form>
        <h3>Properties</h3>
        <mat-form-field>
            <input matInput placeholder="Name" name="{{name}}" [(ngModel)]="name">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="abstract" name="abstract">Abstract</mat-checkbox>



        <h3>Attributes</h3>
        <div *ngFor="let attribute of attributes">
            <div *ngFor="let kv of attribute | keyvalue">
                Clave: <mat-form-field class="small-input">
                    <input matInput placeholder="Key" [(ngModel)]="kv.key" name="k + {{kv.key}}">
                </mat-form-field>
                Valor: <mat-form-field class="small-input">
                    <input matInput placeholder="Value" [(ngModel)]="kv.value" name="v + {{kv.value}}">
                </mat-form-field>
            </div>
            <mat-divider class="divider"></mat-divider>
        </div>

        <button class="add-button" mat-icon-button (click)="addAttribute()">
            <mat-icon>add</mat-icon>
        </button>

        <mat-divider></mat-divider>

        <button style="margin-top: 20px" mat-button color="primary" (click)="submitForm()">Update</button>
    </form>
</div>
<mat-divider class="divider"></mat-divider>
<div mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Close</button>
</div>