.example-tree-invisible {
    display: none;
}

ul {
    list-style-type: none;
}

.hidden-node-expanded {
    display: block !important;
}

.tree-img {
    margin-right: 10px;
}

.edit-button {
    transform: scale(0.7);
}

.spinner {
    margin:0 auto;
}