<h2 mat-dialog-title>Register</h2>
<mat-dialog-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>
    
    <mat-dialog-actions align="end">
        <button mat-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
  </form>
</mat-dialog-content>
