.small-input {
    margin-right: 25px;
  }
  
  .divider {
    margin-bottom: 20px;
  }
  
  .attribute-row {
    margin-bottom: 10px;
  }
  
  .key-input {
    margin-right: 10px;
  }
  
  .add-button {
    margin-bottom: 20px;
  }